html,
body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-left: -20px;
}
.container {
    margin: 0 auto;
    max-width: 940px;
    padding: 0 10px;
}
/* Header */

.header {
    height: 700px;
    text-align: left;
    background: url(sherlock.jpg);
    margin-top: -75px;
    margin-left: -50px;
    margin-right: 0px;
}
.header .container {
    position: relative;
    top: 200px;
}
.header h1 {
    font-size: 72px;
    line-height: 100px;
    margin-top: 0;
    margin-bottom: 40px;
    margin-right: 20px;
    padding-right: 20px;
    color: white;
    text-align: left;
}
.header p {
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 40px;
    margin-top: 0;
    color: white;
    text-transform: uppercase;
    text-align: left;
    font-size: 18px;
}
.btn:hover {
    background: #f9a72b;
    cursor: pointer;
    transition: background .5s;
}
.nav a {
    text-decoration: none;
    color: white;
}
.nav {
    background: black;
    height: 80px;
    width: 100%;
}
.nav ul {
    height: 80px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.nav ul li {
    color: white;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    list-style: none;
    padding: 0 10px;
    transition: background .5s;
    font-size: 24px;
    font-weight: 400;
    margin-right: 40px;
}
.btn:hover,
.nav ul li:hover {
    background: #f9a72b;
    cursor: pointer;
    transition: background .5s;
}
/* Main */

.main .container {
    margin: 80px auto;
    position: relative;
   
}
.main .container p,
ol {
    font-weight: 300;
    font-size: 18px;
}

.icon {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    margin-right: 5px;
    padding-bottom: 20px;
}
.icon li {
    height: 70px;
    width: 70px;
    margin-right: 40px;
    display: inline;
    float: left;
}

.footer {
    bottom: 0;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 40px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: black;
    height: 40px;
}
.main img {
    width: 100%;
}
.container {
    max-width: 928px;
}
h1,
h2,
p,
a {
    font-family: 'Helvetica Neue Thin', 'HelveticaNeue-Thin', 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
}
h1 {
    font-size: 72px;
    font-weight: 100;
    margin-bottom: 20px;
}
h2 {
    color: #000;
    font-size: 2.3em;
    font-weight: 300;
    line-height: 1.25;
    margin: 1em 0;
}
p {
    font-size: 26px;
    font-weight: 200;
}
a {
    font-size: 18px;
    font-weight: 200;
}
.section {
    padding-top: 50px;
    padding-bottom: 50px;
}
#puzzles {
    display: none;
}
#chess {
    display: none;
}
#left {
    float: left;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px;
}
#right {
    margin-left: 10px;
    word-wrap: break-word;
}
.le {
    float: left;
}
.ri {
    float: right;
}
#nextarrow {
    height: 70px;
    width: 70px;
    margin: 50%;
    margin-top: 20px;
    margin-bottom: 70px;
}
#nextarrow a {
    font-size: 36px;
}
#nextbutton {
    font-size: 24px;
}
